.footer{
height: 100px;
  padding-top: 10px;
  text-align: center;
  background-color: slateblue;
  border-top: solid 3px black;
  border-bottom: black 5px solid;
margin-bottom: -10px;
  color: white;


  /*Минус Высота футера*/
  /*Высота футера*/
}