.body{
  width: 100%;
  height: 100%;
}
.header{
  height: 60px;
  width: 100%;
  background: linear-gradient(blueviolet, cornflowerblue);
 border-bottom: solid 2px black;

  ul{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    :hover {
      background-color: #3b5998;
      opacity: 0.6;
      transition-duration: 3s;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 10px;

    }
  }
  li{
    margin-top: 10px;
    margin-right: 5px;
    list-style-type: none;
    border-radius:  20px ;

  }

}

