@media screen and (min-width:1400px) {
  .toolBarMenu_left_4{
    margin-right: 60px;
  }

}
@media screen and (min-width:1200px) {
  #menuToggle span{
    display: none;
  }
  #menu{
    transform: translate(0%, 0);
  }
.toolBarMenu_left{
  padding-left: -60px;
  margin-left: -50px;
}
  .toolBarMenu_right{
    margin-left: -40px;
  }



}
@media screen and (max-width:1200px) {
  .toolBarMenu_left_1 {
    display: none;
  }
  #menu{
    width: 180px;
    margin: 40px 0 0 -50px;
  }

}
@media screen and (max-width:1050px) {
  .toolBarMenu_left_4 {
    display: none;
  }
  body{
    font-size: 22px;
  }
}

@media screen and (max-width:800px) {
  .toolBarMenu_left_3 {
    display: none;
  }
  .toolBarMenu_left_2 {
    display: none;
  }
  .toolBarMenu_img_logo{
    left: 20%;
    padding-left: 20px;
    display: none;
  }
}

