.music{
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: none;
  left: 17%;
  margin-top: 90px;
  z-index: 1;
}

.music_left{
  min-width: 420px;
  width: 40%;
  height: 500px;
  background: #232323;
  z-index: -1;
  flex-flow: row wrap;
}

.music_right{
  min-width: 420px;
  width: 40%;
  height: 500px;
  background: #232323;
  z-index: -1;
  flex-flow: row wrap;
  opacity: 0.6;
}