


.toolBarMenu{
  height: 60px;
  width: 100%;
  background-color: aliceblue;
  border-bottom: green 4px solid;
  display: flex;
  /* Это значения по умолчанию, но их все равно можно установить */
  align-items: stretch; /* Элементы внутри контейнера будут занимать всю его высоту */
  /* Центр по главной оси */
  justify-content: space-around;
  min-width: 600px;
  padding-top:  40px;
  flex-wrap: wrap;

  .firstMenu a{
    color: whitesmoke;
  }

  #menu ul {
    border-top: 1px solid #555;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #menu li {
    border-bottom: 1px solid #555;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
  }

  #menu li:hover {
    cursor: pointer;
    background-color: #555;
  }

  #menu a {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
  }



  .toolBarMenu_img_logo{
    margin-top: -60px;
    margin-left: -20px;
    margin-right: -20px;

    position: absolute;
left: 46%;
    z-index:2;
  }
  #menuToggle{
    z-index:3;

  }
}







@import "gamburger";